<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>

        <mapping class="org.uganda.constitution.api.model.Act" />
        <mapping class="org.uganda.constitution.api.model.Article" />
        <mapping class="org.uganda.constitution.api.model.Chapter" />
        <mapping class="org.uganda.constitution.api.model.Clause" />
        <mapping class="org.uganda.constitution.api.model.Constitution" />
        <mapping class="org.uganda.constitution.api.model.Objective" />
        <mapping class="org.uganda.constitution.api.model.ObjectiveGroup" />
        <mapping class="org.uganda.constitution.api.model.Part" />
        <mapping class="org.uganda.constitution.api.model.Rule" />
        <mapping class="org.uganda.constitution.api.model.RuleOfProcedure" />
        <mapping class="org.uganda.constitution.api.model.Schedule" />
        <mapping class="org.uganda.constitution.api.model.Section" />
    </session-factory>
</hibernate-configuration>