<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
     http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd
     http://java.sun.com/xml/ns/persistence/orm
     http://java.sun.com/xml/ns/persistence/orm_1_0.xsd"
	xmlns:orm="http://java.sun.com/xml/ns/persistence/orm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/persistence">
    <persistence-unit name="org.uganda.constitution.entities" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <mapping-file>META-INF/orm.xml</mapping-file>
        
        <class>org.uganda.constitution.api.model.Schedule</class>
        <class>org.uganda.constitution.api.model.ObjectiveGroup</class>
        <class>org.uganda.constitution.api.model.Section</class>
        <class>org.uganda.constitution.api.model.Act</class>
        <class>org.uganda.constitution.api.model.Chapter</class>
        <class>org.uganda.constitution.api.model.Constitution</class>
        <class>org.uganda.constitution.api.model.Clause</class>
        <class>org.uganda.constitution.api.model.RuleOfProcedure</class>
        <class>org.uganda.constitution.api.model.Objective</class>
        <class>org.uganda.constitution.api.model.Article</class>
        <class>org.uganda.constitution.api.model.Part</class>
        <class>org.uganda.constitution.api.model.Rule</class>
    </persistence-unit>
</persistence>